/* 
 * Mostly from blueprintcss.org
 * 2009-03-31 Christian Montoya 
 */

body { 
  padding:1em 0 1.5em 0; 
  background: #f6f5e7 url(/img/airmail_border.png) 0 -10px repeat-x;
}
#header { 
  height:90px; 
  margin:0 auto; 
  padding:30px 0 6px 0; 
  position:relative;
  width:790px;
  font-size:32px; 
  font-style:italic; 
}
#stamp { 
  float: right;         
  padding-right: 20px;
}
#title { 
  color:#666; 
  margin:0; 
  padding:0; 
  text-align:left; 
}
#main { 
  background: #f6f5e7;
  border-right:2px solid #222;
  border-bottom:2px solid #222; 
  margin:0 auto; 
  width:788px; 
}
#main_content { 
  background: #f6f5e7;
  border:2px solid #ccc; 
  padding:12px 17px 17px 17px; 
}
#footer { 
  border-top:1px solid #ccc; 
  padding-top:1em; 
}
#main_content .container { 
}
#statement {
  color:#333; 
  font-family:Georgia, serif; 
  font-size:16px; 
  font-style:italic; 
  margin:.5em 0 1.5em 0;
}
#download_list { 
  margin:0 0 .5em 0; 
  overflow:hidden; 
  padding:0; 
}
#download_list li { 
  float:left;
  font-weight:bold; 
  list-style-image:none; 
  list-style-type:none;
  margin-right:16px; 
  padding-left:0; 
}
#download_list li a { 
  background:transparent url(/img/arrow_download.png) left center no-repeat; 
  padding-left:15px; 
}
#download_list li#all_releases { 
  margin-right:0; 
  padding-left:0; 
}
#download_list li#all_releases a { 
  background-image:url(/img/arrow-small.gif); 
  padding-left:12px;
}
#gallery .item { 
  display:block; 
  height:378px; 
  overflow:hidden; 
  position:relative; 
  text-align:center; 
}
#gallery .item img { 
  border:3px solid #ccc; 
}
#gallery .item a.caption { 
  background: #CCC;
  color:#444;
  padding:3px 6px; 
  position:absolute;
  top:0; 
  right:0; 
  text-decoration:none; 
}
#gallery .item a.caption:hover { 
  color:#000; 
}
#credit { 
  color:#555; 
  text-align:center; 
}
#credit a { 
  color:#444; 
}
ul li { 
  list-style-image:url(/img/bullet.png); 
}

.box { 
  background:#f6f5e7; 
 }

h2 { 
  border-bottom:1px solid #ccc; 
  color:#333; 
  font-size:14px; 
  font-weight:bold; 
  text-transform:uppercase; 
  line-height:17px; 
}
.container { 
  width:750px; 
}

#bottom { 
background:#f6f5e7 url(/img/airmail_border.png) 0 -10px repeat-x;
position: fixed;
left: 0;
right: 0;
height: 30px;
bottom: 0;
}